.container-destaque{
    display: flex;
    justify-content:center;
    flex-direction: column;
    color: #fff;

    .text-destaque{
        font-family: 'Hewitt';
        font-weight: 707;
        font-size: 34px;
        line-height: 44px;
        font-style: normal;
        margin-left: 35px;
        z-index: -1;
        margin-top: -50px;
    }
}

.container-products-showcase{
 margin: 2px;
}