.container-projects-section {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 230px;
    padding: 1rem 0;

    .card-img-historia{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            border-radius: 69px;
            width: 685px;
            height: 440px;
        }
    }

    .button-saiba{
        margin-top: 2rem;
        display:flex;
        justify-content: flex-start;

        a{
            padding:11px 30px;
        }
    }

    .card-text{
        width: 493px;
        h3{
            font-family:"Hewitt";
            font-style: normal;
            font-weight: 707;
            font-size: 34px;
            line-height: 40px;
            letter-spacing: 0.1px;
            color: #FFFFFF;
        }

        p{
            font-family: "Hewitt";
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 28px;
            text-align: justify;
            letter-spacing: 0.2px;
            color: #434343;
            margin-top: 2rem;
        }
    }
}

@media (max-width: 600px) {
    .container-projects-section {
        display: block;
        justify-content: center;
        flex-direction: column-reverse;
        margin: auto;
        padding: 1rem 0;

        .card-responsivo{
            display:flex;
            flex-direction: column-reverse;
        }
    
        .card-img-historia{
            display: flex;
            justify-content: center;
            align-items: center;
            order: 2;
            img{
                border-radius: 69px;
                width: 277px;
                height: 167px;
            }
        }
    
        .button-saiba{
            margin-top: 2rem;
            display:flex;
            justify-content: center;
    
            a{
                padding:11px 30px;
            }
        }
    
        .card-text{
            width: 100%;
            h3{
                text-align: center;
                font-family:"Hewitt";
                font-style: normal;
                font-weight: 707;
                font-size: 20px;
                line-height: 40px;
                letter-spacing: 0.1px;
                color: #FFFFFF;
            }
    
            p{
                font-family: "Hewitt";
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 28px;
                text-align: justify;
                letter-spacing: 0.2px;
                color: #434343;
                margin: 32px 54px;
            }
        }
    }
}