.especificacoes{
    margin-left: 127px;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;

    h2{
        font-family: "Hewitt";
        font-style: normal;
        font-weight: 707;
        font-size: 18px;
        line-height: 23px;
        color: #F9F6F1;
        margin-bottom: 1rem;
    }

    p{
        font-family:"Hewitt";
        font-style: normal;
        font-weight: 705;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.5px;
        color: #434343;
    }
}