.container-intro {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 8rem 5rem 8rem 0;
   
    .container-text {
        display: flex;
        align-items: flex-end;
        flex-direction: column;

        .title {
            font-family: 'Hewitt';
            font-style: normal;
            font-weight: 707;
            font-size: 90px;
            line-height: 117px;
            text-align: right;
            color: #fff;
        }

        .text-content {
            margin-top: 2rem;
            font-size: 1.75rem;
            text-align: right;
            color: #FFFFFF;
            font-family: 'HewittBook', sans-serif;
        }
    }
}

@media (max-width: 600px) {
    .title{
        font-size: 24px;
        color: blue;
    }
}